<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUB - Home</title>

    <!-- Link CSS -->
    <!--<link rel="stylesheet" href="/Frontend/CSS/home.css">-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">

    
    <!-- Link JS -->
    <script src="/Frontend/JS/home.js" defer></script>
</head>
<body>

    <!-- Header -->
    <div class="header">
        <div class="dropdown">
            <button onclick="toggleMenu()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/Frontend/HTML/official_bets.html">Official Bets</a>
                <a href="/Frontend/HTML/My_Bets.html">My Bets</a>
                <a href="/Frontend/HTML/getpoints.html">Earn Points</a>
              </div>
            <button onclick="logOut()" class="logout">Logout</button>
        </div>
        <div class="logo">
            <img src="/Frontend/Images/logoDUB.png" alt="DUB Logo">
        </div>        
        <div class="user-balance">Balance: Loading...</div>
    </div>

    <!-- Live Events -->
    <div class="content">
        <h2>LIVE/UPCOMING EVENTS</h2>
        <div class="events">
            {% for i in data.keys() %}
                {% for x in data[i].values() %}

                <p><strong>{{ x["sport"] }} - {{ x["date"] }}</strong> <br> Drake vs {{ x["opponent"] }}</p>
                
                {% endfor %}
            {% endfor %}
            
        </div>
    </div>

    <!-- Top Bets -->
    <div class="content" style="background-color: white; color: black; padding: 20px; border-radius: 10px; width: 80%; margin: 20px auto; max-width: 600px;">
        <h2>Most Popular Bets</h2>
        <div id="popular-bets-container"></div>
    </div>

</body>
</html>
